{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1> Sell A Stock </h1><br>
    <form action="/sell" method="post">
        <div class = "form=group">
            <select name = "symbol">
                {% for account in accounts %}
                <option value= "{{ account.symbol }}">{{ account.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}